<div class="row">
    <div class="card-header"></div>

<div class="card-body" >
    <div class="col-md-3">

    <form #newfoo="ngForm">
        <label>Id</label>
<input type="text" [(ngModel)]="fff.id" name="id" class="form-control">
<label>Name</label>
<input type="text" [(ngModel)]="fff.name" name="name" class="form-control">
<label>Price</label>
<input type="text" [(ngModel)]="fff.price" name="price" class="form-control">
<label>Style</label>
<input type="text" [(ngModel)]="fff.style" name="style" class="form-control">
<input type="submit" value="submit" (click)="additem()">
    
</form>
</div>
</div>





</div>