
<h1 style="text-align: center; color:cyan; background-color: black;">WELCOME TO FOODBOX </h1>

<a routerLink="res"  class="nav-link"  class="btn btn-primary">LIST OF FOODITEMS</a>
<br>
<br>
<br>
<pre> <input type="button" value="AdminLogin" class="btn btn-primary">  <input type="button" value="UserLogin" class="btn btn-primary">
</pre>        

<a routerLink="addd" class="nav-link"  class="btn btn-primary">ADD NEW FOODITEM</a>
    
<router-outlet></router-outlet>    
<pre>
                                                          <img src="./assets/food images/all food.jpg"  alt="image is not existed" width="500">

</pre>

<button>go to </button>







